Package: com.michael.revealloader
Name: RevealLoader
Version: 0.2.2
Architecture: iphoneos-arm
Description: Tool to load reveal into processes. Needs copy RevealServer.framework from Reveal to /Library/Frameworks first.
Maintainer: halo_michael <yc992147156@me.com>
Author: halo_michael <yc992147156@me.com>
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader (>= 2.2.3)
